.projects {
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
    background-color: #e1e1ff;

    .wrapper {
        list-style: none;
        gap: 2rem;
    }
}

@media(max-width:1600) {
    .wrapper {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media (max-width:800px) {
    .wrapper {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media (max-width:900px) {
    .wrapper {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}